*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://cdn.pixabay.com/photo/2020/07/10/01/17/time-5389154_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    background-color: #000000;
    box-shadow:black 0px 0px 20px;
    width: 40%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px 0;
    padding-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.954);
}

.timer-display {
    position: relative;
    width: 92%;
    background: #fff;
    left: 4%;
    font-family: 'Roboto mono', monospace;
    color: #000000;
    font-size: 35px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(65, 5, 145, 0.25);
}

.buttons {
    width: 90%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}

.buttons button {
    width: 120px;
    height: 45px;
    background-color: #f50000;
    color: #fff;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    box-shadow: #f50000 0px 0px 20px;
}

.buttons button:nth-last-child(2) {
    background-color: #3aff04;
    box-shadow: #3aff04 0px 0px 20px;
}

.buttons button:nth-last-child(1) {
    background-color: #026df9;
    box-shadow: #026df9 0px 0px 20px;
}

.buttons button:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}